@font-face {
  font-family: "dog";
  src: url("../fonts/OPTIFormula-One.otf");
}

@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");

/* HEATMAP COLORS */
:root {
  --one: rgb(0, 0, 0);
  --two: rgb(25, 25, 25);
  --three: rgb(50, 50, 50);
  --four: rgb(75, 75, 75);
  --five: rgb(100, 100, 100);
  --six: rgb(125, 125, 125);
  --seven: rgb(150, 150, 150);
  --eight: rgb(175, 175, 175);
  --nine: rgb(200, 200, 200);
  --ten: rgb(255, 255, 255);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

div,
section,
article,
h1,
h2,
p {
  /* border: 2px solid red; */
}

/* GRID SETUP */
body > * {
  display: grid;
  /* border: 2px solid red; */
  font-family: "dog", sans-serif;
}

.header-nav {
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 168px;
  background-color: var(--three);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.main-article p:first-child span {
  font-family: "Courgette", cursive;
  font-size: 1.5rem;
}

.main-article small {
  font-size: 0.9rem;
}

.main-article h2 {
  font-size: 2rem;
}

.main-article {
  color: white;
}

.main-article p:last-child {
  font-size: 0.9rem;
}

.main-article p:last-child span {
  color: black;
}

.main-article p {
  font-size: 1.2rem;
}

.min-article {
  color: white;
}

.nav-item {
  background-color: var(--four);
  margin: 10px 0;
}

.logo {
  background-color: var(--two);
}

.nav-btn {
  background-color: var(--five);
}

.main {
  grid-template-columns: 1fr;
  grid-template-rows: 160px 1fr;
  /* height: 1255px; */
  grid-gap: 20px;
  margin-bottom: 20px;
}

.main-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 700px;
  grid-gap: 20px;
}

.main-header {
  background-color: var(--six);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  /* grid-gap: 30px; */
}

.main-header h1 {
  background-color: var(--one);
  /* height: 50px; */
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: white;
  grid-column: 2;
  letter-spacing: -1.5px;
  line-height: 1.5;
  word-spacing: 5px;
}

.main-color {
  background-color: var(--four);
  height: 50px;
  width: 75%;
  grid-column: 3;
  justify-self: center;
}

.main-article {
  /* width: 49%;
  height: 553.9px; */
  /* border: 5px solid red; */
  background-color: var(--five);
}

/* .main-article:nth-child(1),
.main-article:nth-child(2) {
  height: 699.15px;
} */

.old-articles {
  grid-template-columns: 1fr 1fr 1fr;
  /* height: 3068.32px; */
  grid-template-rows: repeat(2, 485.283px 685.417px);
  grid-auto-rows: 50px;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.old-articles .red {
  grid-column-end: span 2;
  background-color: var(--three);
}

.old-articles .old {
  background-color: var(--seven);
}

.old {
  background-color: var(--four);
  /* height: 485.283px; */
  /* width: 343.25px; */
}

.old-articles a,
.guides-section a {
  grid-column: 1 / -1;
  height: 50px;
  background-color: var(--eight);
}

.add {
  background-color: var(--five);
  width: 301.633px;
  height: 317.45px;
  align-self: start;
  justify-self: center;
}

.print-section {
  height: 902.583px;
  background-color: var(--four);
}

[class|="community-article"] {
  /* height: 320px; */
  /* width: 442.05px; */
}

.community-article-person {
  /* width: 100%; */
  grid-column: 1 / -1;
  background-color: var(--six);
}

.red {
  /* width: 770.684px; */
  /* height: 685.417px; */
}

.red:first-child {
  /* height: 723px; */
}

.red:nth-child(2) {
  height: 671px;
}

.red:nth-child(3) {
  height: 882px;
}

.book-section {
  height: 1050px;
  width: 100%;
  background-color: var(--four);
  margin: 20px 0;
}

.community-section {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px repeat(3, 497.55px);
  grid-auto-rows: 50px;
  grid-gap: 20px;
  margin-top: 20px;
}

.community-section a {
  grid-column: 1 / -1;
  background-color: var(--eight);
}

.community-article {
  /* width: 448.133px; */
  background-color: var(--seven);
}

.book-section {
  grid-template-columns: 1fr 2fr;
  height: 334.433px;
}

.guides-section {
  grid-template-columns: repeat(3, 1fr);
  /*height: 1982.32px;*/
  grid-gap: 20px;
  grid-template-rows: repeat(2, 860px);
  grid-gap: 20px;
}

.guides-section .old {
  background-color: var(--seven);
}

.guides-section .red {
  grid-column-end: span 2;
  background-color: var(--two);
}

.footer {
  height: 721px;
  background-color: var(--three);
  margin-top: 20px;
}
