@font-face {
  font-family: "dog";
  src: url("../fonts/OPTIFormula-One.otf");
}

@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");

/* HEATMAP COLORS */
:root {
  --one: rgb(0, 0, 0);
  --two: rgb(25, 25, 25);
  --three: rgb(50, 50, 50);
  --four: rgb(75, 75, 75);
  --five: rgb(100, 100, 100);
  --six: rgb(125, 125, 125);
  --seven: rgb(150, 150, 150);
  --eight: rgb(175, 175, 175);
  --nine: rgb(200, 200, 200);
  --ten: rgb(255, 255, 255);
  --blue-clues: #006fc6;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* GRID SETUP */
body > * {
  display: -ms-grid;
  display: grid;
  font-family: "dog", sans-serif;
}

.header-nav {
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 168px;
  background-color: var(--three);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(7, 1fr);
}

.main-article .flex-wrapper {
  display: flex;
  align-items: center;
}

.main-article .flex-wrapper p {
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.25rem;
}

.main-article .flex-wrapper p span {
  font-family: "Courgette", cursive;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
}

.main-article small {
  font-size: 0.9rem;
}

.main-article h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 125%;
  margin: 15px 0;
}

.hashtags {
    margin: 25px 0;
}

.main-article {
  color: var(--two);
  padding: 50px;
}

.main-article p:last-child span {
  color: var(--one);
  word-spacing: -1px;
}


.main-article sup {
  vertical-align: super;
  font-size: smaller;
  word-spacing: -1px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.min-article {
  color: var(--ten);
}

.nav-item {
  background-color: var(--four);
  display: grid;
}

[class="nav-item"] {
  padding: 30px 10px;
}

.icon {
  align-self: start;
  justify-self: center;
  width: 32px;
  height: 37px;
  background-color: var(--three);
}

.logo {
  background-color: var(--two);
  height: 80px;
  width: 60px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  justify-self: center;
}

.nav-btn {
  background-color: var(--five);
  height: 43px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  justify-self: center;
  width: 120px;
  border-radius: 5px;
}

.main {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 160px 20px 1fr;
  grid-template-rows: 160px 1fr;
}

/* .main > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.main > *:nth-child(2) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
} */

.main-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 700px 20px 700px;
  grid-template-rows: 700px 700px;
}

/* .main-articles > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.main-articles > *:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.main-articles > *:nth-child(3) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.main-articles > *:nth-child(4) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
} */

.main-header {
  background-color: var(--six);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-header h1 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: var(--one);
  -ms-grid-column: 2;
  grid-column: 2;
  letter-spacing: -1.5px;
  line-height: 1.5;
  word-spacing: 5px;
}

.main-header h1 span {
    background-color: var(--ten);
    padding: 10px 15px;
}

.main-header h1 span:nth-of-type(2) {
    padding-top: 5px;
}

.main-color {
  background-color: var(--four);
  height: 60px;
  width: 232px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: center;
  justify-self: center;
}

.main-color  p {
    color: var(--ten);
    font-size: 1.17rem;
    border: 2px solid var(--ten);
    width: max-content;
    padding: 10px 15px;
    border-radius: 10px;
}

.main-article {
  background-color: var(--five);
  position: relative;
}

.main-article:nth-child(1) {
  background-color: var(--four);
}

.main-article:nth-child(2) {
  background-color: var(--three);
}

.main-article:nth-child(3) {
  background-color: var(--five);
}

.main-article:nth-child(4) {
  background-color: var(--six);
}

.arrow {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 38px;
  height: 22px;
  background-color: var(--seven);
}

.author-image {
  width: 76px;
  height: 76px;
  background-color: var(--two);
}

.old-articles {
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 485.283px 20px 685.417px 20px 485.283px 20px 685.417px;
  grid-template-rows: repeat(2, 485.283px 685.417px);
  grid-auto-rows: 50px;
}

.old h2 {
    font-size: 1.65rem;
    text-decoration: underline;
    line-height: 130%;
}

.old .old-author + p {
    font-size: 1.25rem;
    line-height: 150%;
    margin: 20px 0;
}

.old .old-author + p a {
    color: var(--blue-clues);
    background-color: transparent;
}

.old-articles .old-author {
    margin: 20px 0;
}

.old-author, .old-articles .old-author a {
    color: var(--five);
    background-color: transparent;
}

/* .old-articles > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.old-articles > *:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.old-articles > *:nth-child(3) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
}

.old-articles > *:nth-child(4) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
} */

/* .old-articles > *:nth-child(5) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.old-articles > *:nth-child(6) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 5;
  grid-column: 5;
} */

.old-articles .red {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  background-color: var(--three);
}

.old-articles .old {
  background-color: var(--seven);
}

.old {
  background-color: var(--four);
}

.old-articles a,
.guides-div a {
  grid-column: 1 / -1;
  height: 50px;
  background-color: var(--eight);
}

.add {
  background-color: var(--five);
  width: 301.633px;
  height: 317.45px;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: center;
  justify-self: center;
}

.print-div {
  height: 902.583px;
  background-color: var(--four);
}

.community-article-person {
  grid-column: 1 / -1;
  background-color: var(--six);
}

/* .red:nth-child(2) {
  height: 671px;
}

.red:nth-child(3) {
  height: 882px;
} */

.book-div {
  height: 1050px;
  width: 100%;
  background-color: var(--four);
}

.community-div {
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 320px 20px 497.55px 20px 497.55px 20px 497.55px;
  grid-template-rows: 320px repeat(3, 497.55px);
  grid-auto-rows: 50px;
}

/* .community-div > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.community-div > *:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.community-div > *:nth-child(3) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.community-div > *:nth-child(4) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.community-div > *:nth-child(5) {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

.community-div > *:nth-child(6) {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

.community-div > *:nth-child(7) {
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  grid-column: 1;
}

.community-div > *:nth-child(8) {
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 3;
  grid-column: 3;
} */

.community-div a {
  grid-column: 1 / -1;
  background-color: var(--eight);
}

.community-article {
  background-color: var(--seven);
}

.book-div {
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  height: 334.433px;
}

.guides-div {
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);

  -ms-grid-rows: 860px 20px 860px;
  grid-template-rows: repeat(2, 860px);
}

/* .guides-div > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.guides-div > *:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.guides-div > *:nth-child(3) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
}

.guides-div > *:nth-child(4) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.guides-div > *:nth-child(5) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.guides-div > *:nth-child(6) {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 5;
  grid-column: 5;
} */

.guides-div .old {
  background-color: var(--seven);
}

.guides-div .red {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  background-color: var(--two);
}

.footer {
  height: 721px;
  background-color: var(--three);
}
